SUPABASE_URL=https://iwqydmmfwebazsaaykww.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3cXlkbW1md2ViYXpzYWF5a3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTY4OTk0MSwiZXhwIjoyMDg1MjY1OTQxfQ.r8WWyODDhKzuEVZwWND85QDw1TfPDPe591dyuLjZ5TA
UPSTASH_REDIS_URL=https://smashing-cobra-68610.upstash.io
UPSTASH_REDIS_TOKEN=ggAAAAAAAQwCAAIgcDFpvcusNPRejbWw1uSw_K94d-qJ9pCCFPHB0dIrzaX0rg
PORT=4000
CORS_ORIGIN=http://localhost:3000
MPESA_CONSUMER_KEY=YOUR_MPESA_CONSUMER_KEY
MPESA_CONSUMER_SECRET=YOUR_MPESA_CONSUMER_SECRET
MPESA_SHORTCODE=YOUR_MPESA_SHORTCODE
MPESA_PASSKEY=YOUR_MPESA_PASSKEY
MPESA_CALLBACK_URL=YOUR_MPESA_CALLBACK_URL
